@media all and (min-width: 1080px){
    .container-fluid-bonusInfo{
        background-color: rgb(0, 0, 0);
        background-position: center center;
        background-size: contain no-repeat;
        display: flex;
        justify-content: center;
    }

    .faCircleRow{
        margin-top: 33%!important;
        margin-bottom: 33%!important;
        color: white;
    }

    .faCircleRow  p{
        margin-top: 33%!important;
        margin-bottom: 33%!important;
        color: white!important;
    }

    .image{
        margin: 20px;
        height: 29vh;
        width: 15vw;
        background: black;
        border-radius: 50%;
        border: 2px white solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .faCircleInfo{
        color: white;
        padding: 6%;
        font-size: 50px;
        font-weight: bold!important;
    }

    .span{
        font-size: 85px;
        color: white;
        z-index: 50;
    }
    
}

@media all and (max-width: 1080px){
    .container-fluid-bonusInfo{
        background-color: rgb(0, 0, 0);
        background-position: center center;
        background-size: contain no-repeat;
        display: flex;
        justify-content: center;
    }

    .faCircleRow{
        margin-top: 33%!important;
        margin-bottom: 33%!important;
        color: white;
    }

    .faCircleInfo{
        color: white;
        padding: 15%;
        font-size: 17px;
        font-weight: bold!important;
    }

    .image{
        margin: 20px;
        height: 17vh;
        width: 32vw;
        background: black;
        border-radius: 50%;
        border: 2px white solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .span{
        font-size: 40px;
        color: white;
        z-index: 50;
    }    
}
