.container{
    min-width: 100vw;
    background-image: url("https://res.cloudinary.com/dnadfuxk0/image/upload/v1596239578/MyBet21/Epic-Soccer-Training-Review-29_af9qg5.jpg");
    background-size: 100vw 100vh stretch;
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 14vh;
}

.inner{
    text-align: center;
    color: white;
    overflow: hidden;
    padding: 0.4em;
}

.inner > h1{
    font-size: 4.3em;
    font-weight: bold;
    animation: Slide_Up 1.4s ease;
}

.inner > p{
    padding-top: 2.3rem;
    font-size: 1.7em;
    font-weight: bold;
    animation: Slide_Up 2.1s ease;
}

.inner > button{
    margin-top: 2rem;
    padding: .7em 4.5rem;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 4em;
    border: 1px solid white;;
    background-color: transparent;
    color: white;
    animation: Slide_Up 2.4s ease;
}

.inner > button:hover{
    margin-top: 2rem;
    padding: .5em 4.5rem;
    font-size: 1.5em;
    border-radius: 4em;
    border: 1px solid white;
    background-color:rgba(66, 65, 65, 0.733);
    color: white;
    animation: Slide_Up 2.4s ease;
}

.inner > button:focus{
    margin-top: 2rem;
    padding: .5em 4.5rem;
    font-size: 1.5em;
    border-radius: 4em;
    border: 1px solid white!important;
    background-color:rgba(66, 65, 65, 0.733)!important;
    color: white !important;
    animation: Slide_Up 2.4s ease;
    outline: none !important;
    box-shadow: none;
}


@keyframes Slide_Up{
    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0px);        
    }
}

